.card-search {
  width: 100%;

  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: space-between;

  background-color: var(--color-card);

  div {
    width: 85%;

    display: flex;

    span {
      margin-right: 1rem;

      .icon {
        font-size: 1.5rem;
      }
    }

    input {
      width: 100%;

      border: 0px;

      color: var(--color-white);
      background-color: transparent;
    }

    input::placeholder {
      color: var(--color-white);
    }
  }

  button {
    width: 15%;
    height: 2rem;

    border: 0px;
    border-radius: 0.2rem;

    font-size: 0.8rem;

    color: var(--color-white);
    background-color: var(--color-blue);
  }
}
